@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/oxygen-v14-latin-300.woff2') format('woff2'),
        url('./fonts/oxygen-v14-latin-300.woff') format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/oxygen-v14-latin-700.woff2') format('woff2'),
        url('./fonts/oxygen-v14-latin-700.woff') format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/oxygen-v14-latin-regular.woff2') format('woff2'),
        url('./fonts/oxygen-v14-latin-regular.woff') format('woff');
}

* {
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  background-color: #007bff;
}

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.main {
  height: 100vh;
}

.converter-title {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
}

#usd-input,
#uzs-input {
  background-color: transparent;
  outline: none;
  border: 1px solid #fff;
  box-shadow: 2px 2px 5px #b2b2b2;
  border-radius: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  color: #fff;
  font-size: 20px;
}

#usd-input:focus {
  box-shadow: 2px 2px 4px #cbcbcb;
  transition: .3s ease-in-out;
}

#usd-input::-webkit-input-placeholder {
  color: #fff;
  opacity: .8;
}

#usd-input:focus::-webkit-input-placeholder {
  color: #fff;
  opacity: .9;
}

.convert-box-exchange-btn {
  color: #fff;
  background-color: transparent;
  outline: none;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-shadow: 2px 2px 5px #b2b2b2;
  padding: 3px 9px;
  font-size: 20px;
  opacity: .9;
}

.convert-box-exchange-btn:hover {
  opacity: 1;
  transition: .2s ease-in-out;
}
.convert-box-inner-left-main-title,
.convert-box-inner-right-main-title {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  margin-left: 43px;
  user-select: none;
}

.convert-box-inner-left-main-title::before {
  content: "";
  position: absolute;
  background-image: url("./img/us-flag.svg");
  background-repeat: no-repeat;
  width: 33px;
  height: 25px;
  margin-left: -43px;
  box-shadow: 1px 1px 2px #444;
}

.convert-box-inner-right-main-title::before {
  content: "";
  position: absolute;
  background-image: url("./img/uz-flag.svg");
  background-repeat: no-repeat;
  width: 33px;
  height: 25px;
  margin-left: -43px;
  box-shadow: 1px 1px 2px #333;
}

.main-anver-box {
  width: 100%;
  height: 130%;
  position: absolute;
  overflow-y: scroll;
}


.main-anver-box::-webkit-scrollbar {
  width: 8px;
  border-radius: 8px;
}

.main-anver-box::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 8px;
}