@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/oxygen-v14-latin-300.woff2') format('woff2'),
        url('./fonts/oxygen-v14-latin-300.woff') format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/oxygen-v14-latin-700.woff2') format('woff2'),
        url('./fonts/oxygen-v14-latin-700.woff') format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/oxygen-v14-latin-regular.woff2') format('woff2'),
        url('./fonts/oxygen-v14-latin-regular.woff') format('woff');
}

* {
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}